<div id="noteTag" style="width:100%;">
	<div  style="padding-top:15px;">
		<div style="padding-bottom:5px; border-bottom:1px solid #ccc; text-align:center;">
			<h2>标签<small>&nbsp;共<%= total%>条</small></h2>
		</div>
		<%var i = 1%>
		<% tags.forEach(function (tag, allNotes) { %>
		<div class="noteTagBrief" style="height:24px;">
			<div style="display:inline; margin:4px 15px;">
				<span style="font-size:16px;">标签<%= i%>:</span>
			</div>
			<p noteTag="<%= tag.tag %>" style="display:inline; margin:4px; font-size:16px;"><%= tag.tag%></p>
			<div class="noteTagMenuDown" title="展开笔记" tag="<%= tag.tag%>">
				<span class="glyphicon glyphicon-menu-down" style="font-size:16px;"></span>
			</div>
			<div class="noteTagMenuUp" title="收起笔记">
				<span class="glyphicon glyphicon-menu-up" style="font-size:16px;"></span>
			</div>
			<div class="removeNoteTag" tagId="<%= tag._id%>" tag="<%= tag.tag%>" align='center' title="删除标签及笔记" data-toggle="modal" data-target="#myModal">
				<div class="glyphicon glyphicon-trash" style="font-size:14px; margin-top:3px"></div>
			</div>
		</div>
		<% i ++%>
		<% }) %>
		<div id="noteTagBrief">
				
		</div>
	</div>
	<%console.log(total, pagesize, currentpage)%>
	<%- include components/noteTagPage {total:total, pagesize:pagesize, currentpage:currentpage}%>
	<script>
		var activeRemoveNoteClass;
		//定义删除图标以及展开收回图标的显示与隐藏功能==============================================
		$('.noteTagBrief').mouseenter(function() {
			$(this).children().eq(4).show();
		})
		$('.noteTagBrief').mouseleave(function() {
			$(this).children().eq(4).hide();
		})
		//定义展开标签功能======================================================================
		$('.noteTagMenuDown').click(function() {
			$(this).fadeOut(100, function() {
				$(this).next().fadeIn(100);
			})
			var obj = $(this).parent();
			var body= {
				tag: $(this).attr('tag')
			}
			//这里是个难点！！！Ajax请求必须放在外部，不然会导致访问多次服务器！！！！！
			$.get('/noteTagMenu', body, function(data) {
				$('#pagination').fadeOut(100, function() {
					$('.noteTagBrief').fadeOut(100, function() {
						obj.fadeIn(100, function() {
							$('#defaultNoteShow').fadeOut(100, function() {
								$('#noteTagBrief').html(data).fadeIn(100);
							});
						})
					});
				});
			})

		})
		//定义点击删除图标时，向模态框传入tag值功能===================================================
		$('.removeNoteTag').click(function() {
			$('#waitingRemoveNoteTag').html($(this).attr('tag'));
			activeRemoveNoteClass = $(this).parent();
		})
		//定义删除标签及其笔记的功能================================================================
		$('#removeTagEnsureButton').click(function() {
			var body = {
				tag:$('#waitingRemoveNoteTag').html(),
			}
			$.post('/RemoveNoteTag', body, function(data) {
				if(data.success) {
					$('#noteFlashInformation').hide().html(data.flashInformation).fadeIn(300).delay(1000).fadeOut(300);
					activeRemoveNoteClass.fadeOut(300, function() {
						$('#noteTagBrief').fadeOut(function() {
							$('.noteTagBrief').not(activeRemoveNoteClass).fadeIn(300);
						})
					});
				}
			})
		})
		//定义标签下笔记目录的收起功能================================================================
		$('.noteTagMenuUp').click(function() {
			$(this).fadeOut(100, function() {
				$(this).prev().fadeIn(100);
			})
			$(this).parent().fadeOut(100);
			$('#noteTagBrief').fadeOut(100, function() {
				$('#noteTagBrief').children().remove();
				$('.noteTagBrief').fadeIn(100, function() {
					$('#pagination').fadeIn(100);
				});
			})
		})
	</script>
</div>


















